html, body {
  overflow-x: hidden;
  scrollbar-width: none;
}

.noScroll {
  overflow: hidden !important;
  height: 100vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}
